.App {
  display: flex;
}

.leftMenuContainer{
  background-color: rgb(29, 29, 66);
  width: 4vw;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  padding-right: 1vw;
}
.rightDataContainer{
  margin-left: 4vw;
  background-color: white;
  z-index: 0;
  min-height: 100vh;
  border-top-left-radius: 10px;
}