.rightContainer{
    display: flex;
    min-height: 100vh;
    width: 96vw;
}

.workspaceContainer{
    /* border: 1px solid black; */
    /* display: flex; */
    flex-direction: column;
    flex: 1;
    border-right: 1px solid black;
}

.dataContainer{
    flex: 5;
    /* border: 1px solid black; */
}